/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html
{
    width:100%;
    height:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.wrapper {
    background:#2d2d2d;
 
    text-align:center;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    /*position: relative;*/
    display: table-cell;
    vertical-align: bottom;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#scanButton{
    width: 35%;
    height: 100%;
    background-color: greenyellow;
    background-image: url(../img/Icons/barcode.png);
    background-size:cover;
    /*position:relative;
   /*top:50%; 
    left:50%*/
    

}
.button{
    width: 30%;
    height: 90%;
    background-color: deepskyblue;
}

.controls
{
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.adStrip
{
    width: 100%;
    height: 100%;
    background-size:cover;
    max-width:100%;
    max-height:100%;
    overflow: hidden;
   /* position: absolute;
    bottom: 0;*/
}

.adImage
{
    width: 100%;
    height: 20%;
}

.topPadding
{
    width:100%;
    height: 5%;
}

.menuStrip
{
    width: 100%;
    height: 10%;
    text-align: right;
    background-color: greenyellow;
}

.spacer
{
    height: 50%;
    width: 100%;
    text-align: right;
}


/*.button {
	-moz-box-shadow: 0px 0px 0px 2px #6d7280;
	-webkit-box-shadow: 0px 0px 0px 2px #6d7280;
	box-shadow: 0px 0px 0px 2px #6d7280;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #313438), color-stop(1, #717b87));
	background:-moz-linear-gradient(top, #313438 5%, #717b87 100%);
	background:-webkit-linear-gradient(top, #313438 5%, #717b87 100%);
	background:-o-linear-gradient(top, #313438 5%, #717b87 100%);
	background:-ms-linear-gradient(top, #313438 5%, #717b87 100%);
	background:linear-gradient(to bottom, #313438 5%, #717b87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#313438', endColorstr='#717b87',GradientType=0);
	background-color:#313438;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #636e8c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
      
}*/
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #717b87), color-stop(1, #313438));
	background:-moz-linear-gradient(top, #717b87 5%, #313438 100%);
	background:-webkit-linear-gradient(top, #717b87 5%, #313438 100%);
	background:-o-linear-gradient(top, #717b87 5%, #313438 100%);
	background:-ms-linear-gradient(top, #717b87 5%, #313438 100%);
	background:linear-gradient(to bottom, #717b87 5%, #313438 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#717b87', endColorstr='#313438',GradientType=0);
	background-color:#717b87;
 
}
.button:active {
	position:relative;
	top:1px;
}

/*.barbutton {
	-moz-box-shadow: 0px 0px 0px 2px #6d7280;
	-webkit-box-shadow: 0px 0px 0px 2px #6d7280;
	box-shadow: 0px 0px 0px 2px #6d7280;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #313438), color-stop(1, #717b87));
	background:-moz-linear-gradient(top, #313438 5%, #717b87 100%);
	background:-webkit-linear-gradient(top, #313438 5%, #717b87 100%);
	background:-o-linear-gradient(top, #313438 5%, #717b87 100%);
	background:-ms-linear-gradient(top, #313438 5%, #717b87 100%);
	background:linear-gradient(to bottom, #313438 5%, #717b87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#313438', endColorstr='#717b87',GradientType=0);
	background-color:#313438;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #636e8c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
         background-image:url(../img/barcodimg2.png) ;
}*/
.barbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #717b87), color-stop(1, #313438));
	background:-moz-linear-gradient(top, #717b87 5%, #313438 100%);
	background:-webkit-linear-gradient(top, #717b87 5%, #313438 100%);
	background:-o-linear-gradient(top, #717b87 5%, #313438 100%);
	background:-ms-linear-gradient(top, #717b87 5%, #313438 100%);
	background:linear-gradient(to bottom, #717b87 5%, #313438 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#717b87', endColorstr='#313438',GradientType=0);
	background-color:#717b87;
    background-image:url(../img/barcodimgsel.png) ;
}
.barbutton:active {
	position:relative;
	top:1px;
}



.opt
{
    background-color: greenyellow;
    background-image: url(../img/Icons/menu.png);
    background-size:cover;
    border-left:  
    color: beige;
    height: 100%;
    width: 20%;
   /*background-image: url(../img/options.png);*/
   
}

.back/*Back < Button control*/
{
   background-color: greenyellow;

    background-size:cover;
    border-left:  
    color: beige;
    height: 100%;
    width: 20%;
    font-size: 20px;

}

.about
{
    height: 100%;
    width: 100%;
    background:#1B1B1C;
    color:yellow;
    font-size: 10;
}

.desc
{
    top:40%;
    height: 40%;
    width:100%;

}